:root {
    --primary: linear-gradient(-45deg, rgb(238,130,238), rgb(139,0,139));
    --secondary: #545454;
    --light: #FDF5EB;
    --dark: #1E1916;
}
html{
    font-family: "Arial", serif !important;
}
body{
    font-family:"Arial", serif !important;
}