{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUIZZ</title>
    <link rel="stylesheet" href="{% static 'css/quizz.css' %}">
</head>
<body>
    <main class="main">
          
        <header class="header">
            <h1><div class="col-xs-12">
                <div id="logo">
                    <a>
                        <img class="normal_logo" src="{% static 'img/PRÉSENTATION 4G1.png' %}" alt="image"
                                             title="" style="max-height:90px;"/> 
                    </a>
                </div>
            </div></h1>
           <!-- <nav class="navbar">
                <a href="#" class="active"></a>
               <a href="#">A propops</a>
                <a href="#">service</a>
                <a href="#">Support</a>
            </nav>-->
            
        </header>
   
           <div class="container">
            <section class="home">
                <div class="home-content">
                    <h1>Quiz saï i lama</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                    <button class="start-btn">START QUIZ</button>
                </div>
            </section>
        </div>
    </main>       
    
    <div class="popup-info">
        <h2>Quiz Guide</h2>
        <span class="info">1. Vous devez remplir avec soins le formulaire qui se presentera apres cette page car ces informations serviront a votre identification au moment de faire les cours d'e-learning</span>
        <span class="info">1. Vous avez <strong>15 secondes</strong> pour chaque questions, et nous avons en tout <strong>10</strong> questions.</span>
        <span class="info">2. Une fois une reponse selectionner, il est impossible de cliquer sur une autre.</span>
        <span class="info">3. Une fois le temp ecouler, il n'est plus possible de cliquer sur un champ, vous devez passer a la questions suivante.</span>
        <span class="info">4. Vous ne pouvez pas droit a une correction.</span>
        <span class="info">5. Vous rapportez 1 point pour une reponse correcte, plus de <strong>5/10 </strong>vous fait reussir le test.</span>

        <div class="btn-group">
            <button class="info-btn exit-btn">Exit</button>
            <a href="{% url 'signup' %}" class="info-btn continue-btn">Continue</a>
        </div>
    </div>
    
   <!--<div class="result_box">
        <div class="complete_text"></div>
        <div class="score_text">
        
        </div>
        <div class="button">
            <button class="restart"> Refaire le quiz</button>
            <button class="quit">Quitter</button>
        </div>
    </div>-->
    
    
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>